<!DOCTYPE html>
<html>
<head>
  <title>Log Viewer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <div id="app" class="container-fluid" style="padding: 50px;">
    <div class="row">
      <div class="col-lg-3 sidebar">
        <!-- Sidebar content -->
        <h4 class="sidebar-heading">Log Sources</h4>
        <div class="list-group">
          <a v-for="source in sources" :key="source.id" href="#" class="list-group-item list-group-item-action" @click="fetchLogsBySource(source.id)">{{ source.name }}</a>
        </div>
      </div>
      <div class="col-lg-9 main-content">
        <!-- Filter section -->
        <div class="filters mb-3">
          <div class="row">
            <div class="col-md-4">
              <label for="levelFilter">Filter by Level:</label>
              <select id="levelFilter" class="form-select">
                <option value="">All</option>
                <option value="info">Info</option>
                <option value="error">Error</option>
                <option value="warning">Warning</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="sourceFilter">Filter by Source:</label>
              <select id="sourceFilter" class="form-select">
                <option value="">All</option>
                <option value="source1">Source 1</option>
                <option value="source2">Source 2</option>
                <option value="source3">Source 3</option>
              </select>
            </div>
            <div class="col-md-4">
              <label for="searchFilter">Search:</label>
              <input type="text" id="searchFilter" class="form-control" placeholder="Search..." @input="debounceSearch">
            </div>
          </div>
        </div>
        

        <!-- Table listing -->
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Log <span v-if="totalCount"> Total: {{ totalCount }}</span></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(log, index) in logs" :key="log.id" @click="toggleDetails(log.id)">
                <td class="log-message">
                  <div>{{ truncateMessage(log.message) }}</div>
                  <div v-if="selectedLog === log.id" class="log-details" v-bind:class="{ 'open': selectedLog === log.id }">
                    <pre v-if="isJSON(log.message)">{{ isJSON(log.message) }}</pre>
                    <span v-else>{{ log.message }}</span>
                  </div>
                </td>
                
                <!-- Render more columns as needed -->
              </tr>
            </tbody>
          </table>
        </div>

        <paginate
          :page-count="totalPages"
          :click-handler="setCurrentPage"
          :prev-text="'Prev'"
          :next-text="'Next'"
          :container-class="'pagination'"
          :page-class="'page-item'"
          :page-link-class="'page-link'"
          :prev-class="'page-item'"
          :next-class="'page-item'"
          :prev-link-class="'page-link'"
          :next-link-class="'page-link'"
        >
        </paginate>
        
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
  <script src="app.js"></script>
</body>
</html>
