<!DOCTYPE html>
<html>
<head>
  <title>Log Viewer</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-toastification@latest/dist/index.css">
  <link rel="stylesheet" href="https://unpkg.com/vue-json-pretty@1.9.4/lib/styles.css">
</head>
<body>
  <div id="app" class="container-fluid" style="padding: 50px;">
    <div class="row">
      <div class="col-lg-6">
        <canvas id="ramChart" width="400" height="200"></canvas>
      </div>
      <div class="col-lg-6">
        <canvas id="queueChart" width="400" height="200"></canvas>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-2 sidebar">
        <!-- Sidebar content -->
        <h4 class="sidebar-heading">Log Sources</h4>
        <div class="list-group">
          <a v-for="source in sources" :key="source.id" href="#" class="list-group-item list-group-item-action" @click="openLogsBySource(source.id)">{{ source.name }}</a>
        </div>
      </div>
      <div class="col-lg-10 main-content">
        <!-- Filter section -->
        <div class="filters mb-3">
          <div class="row">
            <div class="col-md-4" style="position: relative;">
              <button id="resetIndexesButton" class="btn btn-warning" style="position: absolute; bottom: 0;" @click="resetIndexes">Reset Indexes</button>
            </div>
            <div class="col-md-8">
              <label for="searchFilter">Search:</label>
              <input type="text" id="searchFilter" class="form-control" placeholder="Search..." @input="debounceSearch">
            </div>
          </div>
        </div>
        

        <div>
          <span v-if="!openedSource">Select a source from sidebar</span>
          <span v-else-if="!logs.length">No items found!</span>
          <!-- Table listing -->
          <div v-else class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Log <span v-if="totalCount"> Total: {{ totalCount }}</span></th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(log, index) in logs" :key="log.id">
                  <td class="log-message">
                    <div @click="toggleDetails(log.id)">{{ truncateMessage(log.message) }}</div>
                    <div v-if="selectedLog === log.id" class="log-details" v-bind:class="{ 'open': selectedLog === log.id }">
                      <div v-if="isJSON(log.message, false)">
                        <vue-json-pretty 
                          :data="isJSON(log.message, false)"
                          @node-click="copyJsonValue"
                        />
                      </div>
                      <span v-else>{{ log.message }}</span>
                    </div>
                  </td>
                  <!-- Render more columns as needed -->
                </tr>
              </tbody>
            </table>
            <paginate
              :page-count="totalPages"
              :page-range="11"
              :click-handler="setCurrentPage"
              :prev-text="'Prev'"
              :next-text="'Next'"
              :container-class="'pagination'"
              :page-class="'page-item'"
              :page-link-class="'page-link'"
              :prev-class="'page-item'"
              :next-class="'page-item'"
              :prev-link-class="'page-link'"
              :next-link-class="'page-link'"
            >
            </paginate>
          </div>
        </div>

        
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.14/vue.min.js"></script>
  <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>
  <script src="https://unpkg.com/vue-toastification@latest"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9/dist/Chart.bundle.min.js"></script>
  <script src="https://unpkg.com/vue-chartjs@3.4.0/dist/vue-chartjs.js"></script>
  <script src="https://unpkg.com/vue-json-pretty@1.9.4/lib/vue-json-pretty.js"></script>
  <script src="app.js"></script>
</body>
</html>
