@import url('https://fonts.googleapis.com/css?family=Roboto%20Slab');

html, body {
  font-family: 'Roboto Slab', sans-serif;
}

#app {
  font-family: 'Roboto Slab', sans-serif;
}

.log-table {
  width: 100%;
  border-collapse: collapse;
}

.log-table th,
.log-table td {
  padding: 8px;
  border: 1px solid #ccc;
}

/*
.log-message {
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: auto;
}
*/

.log-details {
  display: none;
}

.log-details.open {
  display: block;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.flex-item {
  margin-right: 5px;
}